<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
    로그인<br>
    <button type="button" id="btnGithubLogin">Login with Github</button>

</body>
</html>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){

    }).on('click', '#btnGithubLogin', function() {
        location.href = /*[[${oauthUrl}]]*/;
    });

    /*]]>*/
</script>

<script>

</script>