<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/resources/templates/css/reset.css">
  <link rel="stylesheet" href="/resources/templates/css/style.css">
</head>
<body>
  <div class="title">Commit Manager</div>
  <div class="nickname_wrap">
    <span class="nickname"></span>
    <span>님</span>
  </div>
  <div class='rest_time_wrap'>
    <div>오늘의 커밋까지</div>
    <div class='rest_time'></div>
    <div class='rest_time_message'>남았습니다</div>
  </div>
  <div class="main_wrap">
    <div class='last_commit_time_wrap'>
      <span>마지막 커밋으로부터</span>
      <span class='last_commit_time'></span>
      <span class='last_commit_time_message'>지났습니다</span>
    </div>
    <ul class="commit_list"></ul>
  </div>
</body>
<script src='./src/index.js'></script>
</html>