<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.developer.codesquad.mapper.UserMapper">
    <select id="findUser" parameterType="com.developer.codesquad.domain.User" resultType="com.developer.codesquad.domain.User">
        SELECT
          id as login
          , name as name
          , email as email
        FROM users
        WHERE id = #{login}
    </select>

    <insert id="insertUser" parameterType="com.developer.codesquad.domain.User">
        INSERT INTO users (
          id, name, email
        ) VALUES (
          #{login}, #{name}, #{email}
        )
    </insert>
</mapper>